$yellow: #fbd157;

$violet-100: hsla(285, 29%, 92%, 1);
$violet-300: hsla(283, 25%, 66%, 1);
$violet-500: hsla(284, 23%, 37%, 1);
$violet-700: hsla(284, 42%, 25%, 1);
$violet-800: hsla(284, 43%, 23%, 1);
$violet-900: hsla(284, 49%, 19%, 1);

$grey: #676369;
$gray: $grey;
